<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="assets/stylesheets/bootstrap.css">
    <link rel="stylesheets" href="assets/stylesheets/login.css">
</head>
<body>
 

<h1><strong><em>Log in</em></strong></h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h3 id = "login"><%= f.label :email %><br /></h3>
    <div id = "loginemail"><%= f.email_field :email, autofocus: true %></div>
  </div>

  <div class="field">
    <h3 id = "login"><%= f.label :password %><br /></h3>
    <div id = "loginsenha"><%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div id = "checkbox" class="field">
     <div><%= f.check_box :remember_me %></div>
     <small><em><%= f.label :remember_me %></em></small>
    </div>
  <% end -%>

  <div id = "botao" class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>
</div>

<%= render "users/shared/links" %>
</body>
</html>


