
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="assets/stylesheets/bootstrap.css">
    <title>Home</title>
</head>
<body>
 <p id="notice"><%= notice%></p>

  <h1><img id = "h1" src = "Primeiro.jpg" alt = "Hemocentro" ></h1>

  <h2><strong><em>Porque doar sangue?</em></strong></h2>


  <figure id = "logo">
    <img  src = "logo_hemocentro.png">
    <figcaption>fundaçao hemocentro de brasilia</figcaption>
  </figure>



  <p id = "text">O sangue é um tecido conjuntivo produzido pela medula óssea que
    realiza várias funções no organismo. É composto por plasma, glóbulos brancos, glóbulos vermelhos, hemácias, plaquetas, sais, vitaminas, água e fatores de coagulação.

    A doação de sangue consiste em um ato voluntário de permitir a retirada do seu próprio sangue para beneficiar as pessoas que necessitam receber sangue por qualquer motivo. Infelizmente ainda não foi encontrado nenhum substituto para o sangue, ou seja, é um tecido de extrema importância e valor, pois a sua ausência resulta em morte.

    Para doar sangue o indivíduo preenche um cadastro com seus dados pessoais para que seja cadastrado como doador e ainda para que seja produzida sua carteira de doador. Após o cadastro o mesmo é levado até um profissional que irá verificar seu peso, batimentos cardíacos e pressão arterial. Depois é submetido a exames e à triagem clínica, onde responde perguntas importantes sobre sua condição física.

    Depois de realizados todos os procedimentos necessários, o indivíduo que estiver apto a doar sangue é encaminhado à sala de coleta, onde são retirados 450 ml de sangue do seu braço. Após a doação um lanche é servido ao doador que precisará tomar muito líquido no decorrer do dia.

    A bolsa que recebe o sangue retirado é encaminhada ao fracionamento, onde será separada em até quatro componentes (hemácias, plasmas, plaquetas e fatores de coagulação) que em seguida são levados ao local onde serão armazenados até que sua utilização seja necessária.

    O indivíduo ao doar sangue não apresenta nenhuma manifestação corpórea. Os cuidados após a coleta são: evitar dobrar o braço pelo qual o sangue foi retirado, evitar esforço físico no dia da coleta, manter o curativo por até quatro horas, não fumar nas primeiras duas horas e não ingerir bebidas alcoólicas nas próximas doze horas.
  </p>


  <h2>Tipos sanguíneos</h2>

  <ul class="list-group">
      <li class="list-group-item"><strong><em>A+</em></strong></li>
      <li class="list-group-item"><strong><em>A-</em></strong></li>
      <li class="list-group-item"><strong><em>B+</em></strong></li>
      <li class="list-group-item"><strong><em>B-</em></strong></li>
      <li class="list-group-item"><strong><em>AB+</em></strong></li>
      <li class="list-group-item"><strong><em>AB-</em></strong></li>
      <li class="list-group-item"><strong><em>O+</em></strong></li>
      <li class="list-group-item"><strong><em>O-</em></strong></li>
   </ul>

   <h2>Relações</h2>


   <figure id = "relacoes"">

    <img src="relacoes.png" alt="Relações">
    <figcaption>Relaçoes</figcaption>

   </figure>




 <!--  </div>
 <% if user_signed_in? %>
     <ul>
       <li><%= current_user.email %></li>
       <li><%= link_to "Sair" , destroy_user_session_path, method: :delete %></li>
     </ul>
   <% if current_user.admin? %>
     <ul>
       <li><%= link_to "Doadores", doadors_path %></li>
       <li><%= link_to "Banco de Sangue", sangues_path %></li>
       <li><%= link_to "Usuários", control_users_index_path %></li>
     </ul>
   <% else %>
     <ul>
       <li><%= link_to "Meu cadastro", doadors_path %></li>
     </ul>
   <% end %>

 <% else %>
   <ul>
    <li><%= link_to "Cadastrar" , new_user_registration_path %></li>
     <li><%= link_to "Logar" , new_user_session_path %></li>
   </ul>
 <% end %> 

 <li><%= link_to "Usuários", control_users_index_path %></li>-->

</body>
</html>
