

<% if current_user.admin? %>
<%= link_to 'New Doador', new_doador_path %>

<!DOCTYPE html>
<html>
<head>
  <title>Doadores</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheets" href="assets/stylesheets/bootstrap.css">
</head>
<body>
 <p id="notice"><%= notice %></p>

<h1>Doadores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Endereco</th>
      <th>Tipo sanguineo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doadors.each do |doador| %>
      <tr>
        <td><%= doador.nome %></td>
        <td><%= doador.idade %></td>
        <td><%= doador.telefone %></td>
        <td><%= doador.email %></td>
        <td><%= doador.cpf %></td>
        <td><%= doador.endereco %></td>
        <td><%= doador.tipo_sanguineo %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Show', doador %></td>
        <td><%= link_to 'Edit', edit_doador_path(doador) %></td>
        <td><%= link_to 'Destroy', doador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
</html>



<%else%>

<!DOCTYPE html>
<html>
<head>
  <title>Meu cadastro</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheets" href="assets/stylesheets/bootstrap.css">
</head>
<body>
 <p id="notice"><%= notice %></p>

<h1>Meu cadastro</h1>


<table class="table">
  <tbody>
    <tr>
      <td>Nome :</td>
      <td><%=  %></td>
    </tr>
    <tr>
      <td>Idade :</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <td>Telefone :</td>
      <td>the Bird</td>
    </tr>
    <tr>
      <td>Email :</td>
      <td>the Bird</td>
    </tr>
    <tr>
      <td>Cpf :</td>
      <td>the Bird</td>
    </tr>
    <tr>
      <td>Endereço :</td>
      <td>the Bird</td>
    </tr>
    <tr>
      <td>Tipo sanguíneo :</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Endereco</th>
      <th>Tipo sanguineo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doadors.each do |doador| %>
      <tr>
        <td><%= doador.nome %></td>
        <td><%= doador.idade %></td>
        <td><%= doador.telefone %></td>
        <td><%= doador.email %></td>
        <td><%= doador.cpf %></td>
        <td><%= doador.endereco %></td>
        <td><%= doador.tipo_sanguineo %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Show', doador %></td>
        <td><%= link_to 'Edit', edit_doador_path(doador) %></td>
        <td><%= link_to 'Destroy', doador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
</html>




<% end %>




