<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @doador.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @doador.idade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @doador.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doador.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @doador.cpf %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @doador.endereco %>
</p>

<p>
  <strong>Tipo sanguineo:</strong>
  <%= @doador.tipo_sanguineo %>
</p>

<%= link_to 'Edit', edit_doador_path(@doador) %> |
<%= link_to 'Back', doadors_path %>
