#login{
	

text-align: center;
margin-bottom: 0px;


}


#loginemail{
	

text-align: center;



}


#loginsenha{


text-align: center;


}


#checkbox
{


text-align: center;



}

#botao{


	text-align: center;


}

