#h1{
	

margin: 0px;


}

h1{

text-align: center;
margin: 5px 5px 100px 5px;


}


h2 {


text-align: left;
margin: 100px 0px;


}


figure{


background-color:#F2EDED;
text-align: center;


}


figcaption{


font-style: italic;


}

#logo {

float:left;
margin: 15px 10px 0 0;


}

#relacoes{


margin: auto;


}


#relacoes img{


width: 800px;


}


#text{


line-height: 30px; /* tamanho da altura de cada linha */


font-size: 20px;


}